<div class="row">

  <div class="col">
   <!--  <app-items-list 
      [items]="playlists"
      [selected]="selected"
      (selectedChange)=" selected = $event ">
  </app-items-list> -->
  <!-- <app-playlists-list></app-playlists-list> -->
  <router-outlet name="list"></router-outlet>
  </div>
  <div class="col">
    <!--
    <app-playlist-details
      (playlistChange)="save($event)" 
      [playlist]="selected">
    </app-playlist-details>
  -->

  <!-- <app-selected-playlist></app-selected-playlist> -->
  <router-outlet #ra="outlet"></router-outlet>
  <div *ngIf="!ra.isActivated">
    Please select playlist
  </div>
  </div> 
</div>
