<!-- <ng-template [ngIf]=" mode == 'show' " [ngIfThen]="showRef" [ngIfElse]="editRef">
</ng-template> -->


<div *ngIf=" mode == 'show';  then showRef; else editRef " class="placki"></div>




<ng-template #showRef>
  
  <div>

    <!-- dl>(dt+dd)*3 -->
    <dl [title]="playlist.name" [attr.data-id]="playlist.id">
      <dt>Name:</dt>
      <dd>{{playlist.name}}</dd>

      <dt>Favourite</dt>
      <dd>{{playlist.favourite? 'Yes' : 'No'}}</dd>

      <dt>Color</dt>
      <dd [style.color]="playlist.color" [ngStyle]="{
        backgroundColor:'#fafafa',
        'fontSize.px': 12 
      }">
        {{playlist.color}}
      </dd>
    </dl>

    <input type="button" value="Edit" class="btn btn-info" (click)="edit()">
  </div>

</ng-template>



<ng-template #editRef>
  <div>
    <div class="form-group">
      <label>Name: </label>
      <input type="text" class="form-control" [(ngModel)]="playlist.name">
    </div>

    <div class="form-group">
      <label>Favourite: </label>
      <input type="checkbox" [(ngModel)]="playlist.favourite">
    </div>

    <div class="form-group">
      <label>Color: </label>
      <input type="color" [(ngModel)]="playlist.color">
    </div>


    <input type="button" value="Cancel" class="btn btn-danger" (click)="cancel()">
    <input type="button" value="Save" class="btn btn-success" (click)="save()">

  </div>
</ng-template>