<div>

  <!-- dl>(dt+dd)*3 -->
  <dl [title]="playlist.name" [attr.data-id]="playlist.id">
    <dt>Name:</dt>
    <dd>{{playlist.name}}</dd>

    <dt>Favourite</dt>
    <dd>{{playlist.favourite? 'Yes' : 'No'}}</dd>

    <dt>Color</dt>
    <dd [style.color]="playlist.color" [ngStyle]="{
      backgroundColor:'#fafafa',
      'fontSize.px': 12 
    }">
      {{playlist.color}}
    </dd>
  </dl>

</div>


<div>

  <!-- .form-group*3>label+input.form-control -->

  <div class="form-group">
    <label>Name: </label>
    <input type="text" class="form-control"         
      (ngModelChange)=" playlist.name = $event"
      [ngModel]="playlist.name">
  </div>

  <div class="form-group">
    <label>Favourite: </label>
    <input type="checkbox" 
    (ngModelChange)="playlist.favourite = $event" 
    [ngModel]="playlist.favourite">
  </div>

  <div class="form-group">
    <label>Color: </label>
    <input type="color" 
    (ngModelChange)="playlist.color = $event"
    [ngModel]="playlist.color">
  </div>


</div>
